
.wrapper {
    margin: auto;
    padding-bottom: 20px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -30%;
    right: 30%;
}

.name {
    padding: 30px;
    font-size: 3.5rem;
    font-weight: 600;
    color: rgb(252, 249, 249);
    font-family: 'Quicksand', sans-serif;
}

.deadline {
    display: flex;
}
.deadline h4 {
    margin-left: 0.5rem;
    font-size: 3.5rem;
    margin-bottom: 0.25rem;
    letter-spacing: 0.25rem;
}
.format {
    background: hsl(210, 11%, 17%);
    color: #dafa09;
    /* margin-right: 1rem; */
    width: 8rem;
    height: 8rem;
    display: grid;
    place-items: center;
    text-align: center;
    border: 2px solid orange;
    border-radius: 30%;
}
.format span {
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.85rem;
    margin-top: 10px;
}
@media screen and (max-width:1120px) {
    .wrapper{
        top: -20%;
        right: 26%;
    }
    .name{
        font-size: 3rem;
        padding: 20px;
    }
.format{
    width: 6.5rem;
    height: 6.5rem;
}
.deadline h4{
font-size: 2.5rem;
}
}

@media screen and (max-width:820px) {
    .wrapper{
    top: -35%;
    right: 25%;
  }
  .name{
font-size: 2.5rem;
  }
  .format {
      width: 5.5rem;
      height: 5.5rem;
  }
  .deadline h4 {
      font-size: 2rem;
  }
}


@media screen and (max-width:690px){
    .wrapper{
        display:none;
  }
}
