.container {
    padding: 60px 40px;
    background-color: #f02d34;
    border-radius: 15px;
    position: relative;
    height: 400px;
    line-height: 1;
    color: white;
    width: 100%;
    margin-top: 120px;
}

.desc {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.desc button {
    border-radius: 15px;
    padding: 10px 32px;
    background-color: white;
    color: #f02d34;
    border: none;
    font-size: 23px;
    font-weight: 500;
    cursor: pointer;
    margin-right: 60px;
}

.left h3 {
    font-weight: 900;
    font-size: 80px;
    margin-left: 25px;
}

 .left p {
    margin-bottom: 28px;
    font-size: 45px;
    color: #dafa09;
    font-weight: 800;
}

.image {
    position: absolute;
    top: -45%;
    right: 0%;
    width: 280px;
    height: 300px;
}

 .right {
    line-height: 1.4;
    align-self: flex-end;

}

 .right h3 {
    font-weight: 800;
    font-size: 60px;
}

.right p {
    font-size: 18px;
    text-align: center;
    color: #dafa09;
    padding: 5px 0
}

/* .company-desc {
    font-size: 14px;
    font-weight: 300;
} */

@media screen and (max-width:1020px) {
    .container {
        padding: 70px 10px;
        height:350px
    }

    .image {
        width: 220px;
        height: 280px;
        top: -75%;
        right: 0%;
    }
.desc button{
    margin-right: 30px;
    padding:10px 20px
}

    .left h3 {
        font-weight: 900;
        font-size: 3.2rem;
        margin-left: 15px;
    }

    .left p {
        margin: 18px;
        font-size: 35px;
        color: #dafa09;
        font-weight: 800;
    }

    .right {
        line-height: 1.4;
    }

    .right h3 {
        font-weight: 800;
        font-size: 60px;
    }

    .right p {
        font-size: 18px;
    }

    /* .company-desc {
        font-size: 14px;
        font-weight: 300;
    } */
}
@media screen and (max-width: 820px) {
    .container{
        height:320px
    }
    .image{
        width: 170px;
        right: -3%;
        top: -40%;
        height: 220px
    } 
    .left{
        align-self: flex-end;
        padding-top: 70px;
    }
    .left h3 {
        font-weight: 900;
        font-size: 40px;
        margin-left: 25px;
  }

  .left p {
    margin: 18px;
    font-size: 22px;
  }

  .right{
    margin-top: 150px;
  }
.right h3 {
    font-size: 45px;
  }

  .right p {
    font-size: 15px;
  }
  .desc {
    flex-wrap: nowrap;
  }

  .desc button {
      margin-right: 20px;
      padding: 7px 10px;
      font-size: 1.2rem;
  }
}

@media screen and (max-width:545px) {
     .desc button{
      font-size: 15px;
    }
    .image {
        width: 100px;
        right: -5%;
        top: -25%;
        height: 180px
  }
  
  .left h3 {
      font-size: 30px;
    }
  
    .left p {
      font-size: 20px;
    }
  
  .right p {
      font-size: 13px;
    }
}