@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');


html,
body,
* {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;

}

a {
  color: inherit;
  text-decoration: none;
}
.main-container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  overflow:hidden;
}
.layout {
  padding: 10px;
  margin: 0 auto;
}
.products-container {
    max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
.products-heading {
  text-align: center;
  padding: 40px 0px;
  color: #131415;
}

.products-heading h2 {
  font-size: 40px;
  font-weight: 800;
}

.products-heading p {
  font-size: 16px;
  font-weight: 200;
}
.footer-wrapper{
margin-top:-40px;
}

